<!--
  Generated template for the SwashAngleSetupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-grid no-padding>
            <ion-row no-padding class="align-center">
                <ion-col no-padding col-auto>
                    <button ion-buttons no-padding class="icon button-custom ion-navicon" start>
          <ion-icon large name="ios-arrow-round-back-outline"  (tap)="back()" ></ion-icon>
          </button>
                </ion-col>
                <ion-col class="align-center">
                    <div no-margin>
                        <h5 no-margin>
                            Swash angle Setup
                        </h5>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
    </ion-header> -->

<!-- <ion-header>
    <ion-navbar hideBackButton="true">
        <ion-grid no-padding>
            <ion-row no-padding class="align-center">
                <ion-col no-padding col-auto>
                    <button ion-buttons no-padding class="icon button-custom ion-navicon" start>
                        <ion-icon large name="ios-arrow-round-back-outline" (tap)="back()"></ion-icon>
                    </button>

                </ion-col>
                <ion-col class="align-center">
                    <div no-margin>
                        <h5 no-margin> Swash angle Setup
                        </h5>
                    </div>

                </ion-col>
                <button ion-buttons small class="icon settings-style ion-navicon" start>
                    <ion-icon large name="ios-settings-outline" (tap)=" navigateToSettings()"></ion-icon>
                </button>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header> -->

<ion-header>
    <ion-navbar hideBackButton="true" class="header-nav-style">
        <ion-grid no-padding>
            <ion-row no-padding class="align-center">
                <ion-col no-padding col-auto>
                    <button ion-buttons no-padding class="icon button-custom ion-navicon" start>
                        <ion-icon large name="ios-arrow-round-back-outline" (tap)="back()"></ion-icon>
                    </button>
                </ion-col>
                <ion-col class="align-center">
                    <div no-margin>
                        <h5 no-margin>
                            {{headerLabel}}
                        </h5>
                    </div>
                </ion-col>
                <button ion-buttons no-padding class="icon button-custom-inverted small">
                    <ion-icon *ngIf="true" name="settings" (tap)="navigateToSettings()"></ion-icon>
                </button>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>



<ion-content overflow-scroll="false" class="content-style">
    <!-- <ion-scroll direction="x" scrollY="true" class="scroll-style"> -->
    <ion-list no-lines [virtualScroll]="items">
        <div class="item-trns" *virtualItem="let item">
            <div *ngIf="item.isDropdown;then dropdown else notDropdown"> </div>
            <ng-template #notDropdown>
                <ion-card>
                    <ion-item>
                        <div>
                            <ion-grid>
                                <ion-row>
                                    <h2>{{ item.name }}: &nbsp;</h2>
                                </ion-row>
                                <ion-row color="primary">
                                    <hr/>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-2>
                                        <button [disabled]="!pcmchanneldataservice.passwordFlag" no-margin ion-button small icon-only class="button-value-toggle" (tap)="decrement(item)">
                                                  <ion-icon name='md-arrow-round-down' class="icon-center"></ion-icon>
                                                </button>
                                    </ion-col>
                                    <ion-col justify-content-center col-8>
                                        <div margin-horizontal (tap)="valueChangePrompt(item)" class="custom-center">
                                            {{ item.Value| number:'1.0-1' }} {{ item.Metric }} &nbsp;
                                        </div>
                                    </ion-col>
                                    <ion-col col-2>
                                        <button [disabled]="!pcmchanneldataservice.passwordFlag" no-margin small ion-button icon-only class="button-value-toggle" (tap)="increment(item)">
                                                    <ion-icon large name='md-arrow-round-up' class="icon-center"></ion-icon>
                                                </button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </ion-item>
                </ion-card>
            </ng-template>

            <ng-template #dropdown>
                <ion-card class="card" margin-top *ngIf="item.name != 'Pressure regulator on/off'">
                    <div padding>
                        <ion-grid>
                            <ion-row>
                                <h2>{{ item.name }}:</h2>
                            </ion-row>
                            <ion-row color="primary">
                                <hr/>
                            </ion-row>
                            <ion-row>
                                <ion-col class="selectWrapper">
                                    <ion-select no-padding interface="popover" style="max-width: 100% !important;" [class.disable]="!pcmchanneldataservice.passwordFlag" (ionChange)="setItemValuesToSys(item)" [(ngModel)]="item.Value">
                                        <ion-option value=0>Off</ion-option>
                                        <ion-option value=1>On</ion-option>
                                    </ion-select>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </ion-card>
            </ng-template>
        </div>
    </ion-list>

    <!-- </ion-scroll> -->


    <!-- <div padding>
        <button class="buttons-right" ion-button>Set Parameters</button>
        <button class="buttons-left" (tap)="navegateToLiveTune()" ion-button>Live Tune</button>
    </div> -->

</ion-content>

<ion-footer>
    <ion-row>
        <ion-col width-50>
            <button [disabled]="!pcmchanneldataservice.passwordFlag" (tap)="navegateToLiveTune()" ion-button block>Live tune</button>
        </ion-col>
        <ion-col width-50>
            <button [disabled]="disabled" (tap)="disabled=true;writeSwashAngleSetupParameters()" ion-button block>{{writeData}}</button>
        </ion-col>
    </ion-row>
</ion-footer>