page-connector-setup-page {

}

.connectorSetup{
      height:100%;
}

// .connectorButtonsRow1{     
//      height:60%!important;
//      overflow:hidden;
// }

.connectorButtonsRow1{  
   //min-height: 60%;
}

// .fill{
//     height:1%!important;
// }

// .connectorImageRow2{
//     height:35%!important;   
    
// }



// .connectorImageRow2 img{
//  height:50%;
//  width:50%;
//  margin:auto;
//  display:block;
// }

.connectorImageRow2{
      margin-top: 2em;

}

.connectorImageRow2 img{
      height:50%;
      width:50%;
      margin:auto;
      display:block;
}



