<!--
  Generated template for the DeviceMainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
    <ion-navbar hideBackButton="true">
        <ion-grid no-padding>
            <ion-row no-padding class="align-center">
                <ion-col no-padding col-auto>
                    <button ion-buttons no-padding class="icon button-custom ion-navicon" start>
          <ion-icon large name="ios-arrow-round-back-outline"  (tap)="back()" ></ion-icon>
          </button>
                </ion-col>
                <ion-col class="align-center">
                    <div no-margin>
                        <h5 no-margin>
                            Main page
                        </h5>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header> -->

<ion-header>
    <ion-navbar hideBackButton="true" class="header-nav-style">
        <ion-grid no-padding>
            <ion-row no-padding class="align-center">
                <ion-col no-padding col-auto>
                    <button ion-buttons no-padding class="icon button-custom ion-navicon" start>
                        <ion-icon large name="ios-arrow-round-back-outline" (tap)="back()"></ion-icon>
                    </button>
                </ion-col>
                <ion-col class="align-center">
                    <div no-margin>
                        <h5 no-margin>
                            {{headerLabel}}
                        </h5>
                    </div>
                </ion-col>
                <button ion-buttons no-padding class="icon button-custom-inverted small">
                    <ion-icon *ngIf="true" name="settings" (tap)="navigateToSettings()"></ion-icon>
                </button>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>


<ion-content overflow-scroll="false" (swipe)="swipeEvent($event)">

    <ion-card padding>
        <ion-card-header no-padding>
            <ion-item no-padding>
                <span item-left>
                    <h1><strong>{{deviceName}}</strong>
                    </h1>
                    <span><small>Firmware version:{{firmwareVersion}}</small></span>
                </span>
                <span item-right>
                    <button item-right no-margin small ion-button (tap)="blinkToggle()"> <label>{{blinkToggleName}}</label></button>
                </span>
            </ion-item>
        </ion-card-header>
        <!-- <ion-item no-padding>
            <span no-padding item-left><small>Firmware version:{{firmwareVersion}}</small></span>
        </ion-item> -->
        <hr>
        <ion-item>
            <span item-left><strong>Mode:</strong></span>
            <span item-right [style.color]="custColor"><strong>{{runValue}}</strong></span>
        </ion-item>

        <ion-item>
            <span item-left><strong>Set point:</strong></span>
            <span item-right>{{pointValue}}%</span>
        </ion-item>

        <ion-item *ngIf="pressureFlag">
            <span item-left><strong>Pressure:</strong></span>
            <span item-right>{{pressureValue | number:'1.0-1'}} {{pressureSiValue}}</span>

        </ion-item>
        <ion-item *ngIf="swashAngleFlag">
            <span item-left><strong>Swash angle:</strong></span>
            <span item-right>{{swashAngleValue}} {{swashAngleSiValue}}</span>

        </ion-item>
    </ion-card>

    <div padding>
        <!-- <ion-row no-padding>
            <ion-col col-6> -->
        <button ion-button block (tap)="launchDeviceSetupPage()">Setup</button>
        <!-- </ion-col>
            <ion-col col-6> -->
        <button ion-button block (tap)="navigateToAlarmLog()">Log</button>
        <button ion-button block (tap)="navigateToLiveGraph()">Live graph</button>
        
        <!-- </ion-col>
        </ion-row> -->


        <!-- <button ion-button block (tap)=" navigateToSettings()">App settings</button> -->
    </div>
</ion-content>

<ion-footer no-padding>
    <div>
        <button ion-button full (tap)="back()">Disconnect</button>
    </div>
</ion-footer>

<!-- <ion-footer padding>
    <div>
        <button ion-button class="buttons-right" (tap)="stopBlink()">STOP BLINK</button>
        <button ion-button class="buttons-left" (tap)="startBlink()">BLINK DEVICE</button>
    </div>
</ion-footer> -->

<!--<ion-footer>
  <ion-row>
      <ion-col width-50><button ion-button block>Setup</button></ion-col>
      <ion-col width-50><button ion-button block>Log</button></ion-col>
</ion-row>
</ion-footer>-->